//Paleta de colores con map
$paleta:(color-primario: #ff4f58,
    color-secundario: #ff94ab,
    color-terciario: #fec9d3,
    color-cuaternario: #fff5f0,
    ausencia-color: #ffffff,
    accion: #0d6efd,
);
