#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($paleta, color-cuaternario);

    h1 {
        color: map-get($paleta, color-primario);
    }

    h2 {
        color: map-get($paleta, color-primario);
    }

    fieldset {
        @extend #contacto;
        align-items: flex-start;
    }

    .enviar {
        background-color: map-get($paleta, ausencia-color);

        &:hover {
            @include color(#0d6efd, #ffffff);
        }
    }

    .borrar {
        background-color: map-get($paleta, ausencia-color);

        &:hover {
            @include color(#ff4f58, #ffffff);
        }
    }
}
