section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-cuaternario;

    h2 {
        color: $color-primario;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .enviar {
        background-color: $ausencia-color;

        &:hover {
            background-color: $accion;
            color: $ausencia-color;
        }
    }

    .borrar {
        background-color: $ausencia-color;

        &:hover {
            background-color: $color-primario;
            color: $ausencia-color;
        }
    }
}
