<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;270;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../style/estilos.css">
    <link rel="shortcut icon" href="../img/0.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <a href="../index.html"><img src="../img/0.jpg" alt="Logo de Sakura" class="tamañoImagen"></a>
        <nav>
            <ul class="border">
                <li><a href="./hombre.html">Hombre</a></li>
                <li><a href="./mujer.html">Mujer</a></li>
                <li><a href="./esenciales.html">Esenciales</a></li>
                <li><a href="./contactar.html">Contactar</a></li>
                <li><a href="#pie">Ir al pie de página</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <section>
                <h2>Ofertas</h2>
                <article>
                    <img src="../img/sale.png" alt="Imagen de oferta">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repellat eum.</h3>
                </article>
            </section>
        </aside>
        <section>
            <h2>Servicio de atención al cliente</h2>
            <form>
                <fieldset>
                    <legend>Formulario de contacto</legend>
                    <label for="asunto">Asunto</label>
                    <select name="asunto" id="asunto">
                        <option value="--Seleccionar--"></option>
                        <option value="despedidas">Despedidas de solteros</option>
                        <option value="devoluciones">Devoluciones</option>
                        <option value="informacion">Información de productos</option>
                        <option value="servicio">Servicio al cliente</option>
                    </select>
                    <br>
                    <label for="email">Email</label>
                    <input name="email" type="email" placeholder="example@gmail.com">
                    <br>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10"
                        placeholder="¿Cómo lo podemos ayudar?"></textarea>
                    <br>
                    <label for="check">Acepto las condiciones</label>
                    <input type="checkbox" id="check" value="1">
                    <br>
                    <input type="submit" value="Manda todo">
                    <input type="submit" value="Borra todo">
                </fieldset>
            </form>
            <h2>O llámenos al 3413222222</h2>
        </section>
    </main>
    <footer id="pie">
        <div>
            <h3>Categorías</h3>
            <ul>
                <li>Lencería</li>
                <li>Mujer</li>
                <li>Hombre</li>
                <li>Esenciales</li>
                <li>Nosotros</li>
            </ul>
        </div>
        <div>
            <h3>Información</h3>
            <ul>
                <li>Mantenimiento</li>
                <li>Tabla de talles</li>
                <li>Terminos y condiciones</li>
                <li>Pago seguro SSL</li>
                <li>Política de cookies</li>
            </ul>
        </div>
        <div>
            <h3>Atención al cliente</h3>
            <ul>
                <li>Botón de arrepentimiento</li>
                <li>Mi cuenta</li>
                <li>Lista de deseos</li>
            </ul>
        </div>
        <div>
            <h3>Social</h3>
            <ul>
                <li>Boletín informativo</li>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank">whatsapp</a></li>
            </ul>
        </div>
        <p>&copy; 2021 Sakura sex shop. &reg; Todos los derechos reservados.</p>
    </footer>
</body>

</html>