<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="aceites, preservativos, lubricantes, estimulacion, geles">
  <meta name="description"
    content="Hacemos que tu vida sexual sea mucho más divertida. En el sexo todo es mejor con un poco de lubricante.">
  <title>Artículos esenciales</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;270;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/destino.css">
  <link rel="shortcut icon" href="../img/0.jpg" type="image/x-icon">
</head>

<body>
  <header class="p-3 border-bottom nav bg-white sticky-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="../index.html"><img src="../img/0.jpg" width="150" height="150" class="rounded-circle"
            alt="Logo de Sakura"></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="./hombre.html" class="nav-link px-2 link-dark">Hombres</a></li>
          <li><a href="./mujer.html" class="nav-link px-2 link-dark">Mujeres</a></li>
          <li><a href="./esenciales.html" class="nav-link px-2 link-dark">Esenciales</a></li>
          <li><a href="./contactar.html" class="nav-link px-2 link-dark">Contacto</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Iniciar sesión</a></li>
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container-fluid">
      <div class="row">
        <!-- Brazo -->
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
          <div class="flex-shrink-0 p-3 bg-white">
            <h2 class="pb-2 border-bottom text-center">Ofertas</h2>
            <div id="carouselExampleCaptions" class="carousel slide pb-3 mb-3 border-bottom" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <picture>
                    <source media="(max-width: 991px)" srcset="../img-800/anillo.jpg" class="w-100">
                    <source media="(min-width: 992px)" srcset="../img-300/anillo.jpg" heigth="300px" class="w-100">
                    <img src="../img-300/anillo.jpg" alt="Anillo erótico" height="300px" class="d-block w-100">
                  </picture>
                  <div class="carousel-caption d-none d-md-block text-opacity-75 text-black">
                    <h6>Anillo erótico</h6>
                  </div>
                </div>
                <div class="carousel-item">
                  <picture>
                    <source media="(max-width: 991px)" srcset="../img-800/bolas.jpg" class="w-100">
                    <source media="(min-width: 992px)" srcset="../img-300/bolas.jpg" heigth="300px" class="w-100">
                    <img src="../img-300/bolas.jpg" alt="Bolas chinas" height="300px" class="d-block w-100">
                  </picture>
                  <div class="carousel-caption d-none d-md-block text-opacity-75 text-black">
                    <h6>Bolas chinas</h6>
                  </div>
                </div>
                <div class="carousel-item">
                  <picture>
                    <source media="(max-width: 991px)" srcset="../img-800/anal.jpg" class="w-100">
                    <source media="(min-width: 992px)" srcset="../img-300/anal.jpg" heigth="300px" class="w-100">
                    <img src="../img-300/anal.jpg" alt="Plugs anales" height="300px" class="d-block w-100">
                  </picture>
                  <div class="carousel-caption d-none d-md-block text-opacity-75 text-black">
                    <h6>Plugs</h6>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon btn-outline-secondary rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon btn-outline-secondary rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                  data-bs-target="#home-collapse" aria-expanded="true">
                  CATEGORÍAS
                </button>
                <div class="collapse show" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Lubricantes</a></li>
                    <li><a href="#" class="link-dark rounded">Aceites</a></li>
                    <li><a href="#" class="link-dark rounded">Preservativos</a></li>
                    <li><a href="#" class="link-dark rounded">Higiene</a></li>
                    <li><a href="#" class="link-dark rounded">Pilas</a></li>
                    <li><a href="#" class="link-dark rounded">Afrodisíacos</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                  data-bs-target="#dashboard-collapse" aria-expanded="false">
                  MARCAS
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Durex</a></li>
                    <li><a href="#" class="link-dark rounded">Candy</a></li>
                    <li><a href="#" class="link-dark rounded">Smart</a></li>
                    <li><a href="#" class="link-dark rounded">Fasex</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Fin brazo -->
        <!-- Artículos -->
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xxl-10">
          <div class="album py-5 bg-light bg-opacity-75">
            <div class="container">

              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e1.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e1.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e1.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e1.jpg" width="100%" height="225">
                      <img src="../img-225/e1.jpg" width="100%" height="225" alt="Lubricante">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Por su fórmula especial a base de agua EROS Aqua otorgará sensaciones frescas
                        y excepcionales durante el juego amoroso. No solo mejora la capacidad deslizante, si no que
                        también mejorará la hidratación, por lo que también servirá para dar masajes por todo el cuerpo.
                        Es neutro, incoloro e inodoro. No contiene aceite, ni perfume. Es compatible con los
                        preservativos de látex</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e2.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e2.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e2.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e2.jpg" width="100%" height="225">
                      <img src="../img-225/e2.jpg" width="100%" height="225" alt="Preservativos">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">En la variedad está el gusto. Con sabores: banana, frutilla y chocolate (el
                        sabor chocolate además es estriado). Lubricados y con depósito. Color: amarillo, rojo y natural.
                        Contiene: 4 DE BANANA, 4 DE FRUTILLA y 4 DE CHOCOLATE.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">11 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e3.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e3.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e3.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e3.jpg" width="100%" height="225">
                      <img src="../img-225/e3.jpg" width="100%" height="225" alt="Lubricante">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">La experiencia de las cualidades del lubricante de silicona a un gran precio.
                        Durex Lubricante de Silicona es resbaladizo cuando más lo necesita. De larga duración, la
                        fórmula no pegajosa funciona muy bien bajo el agua en la ducha, y saunas. No deja residuos una
                        vez se haya ido la lubricación, dejando una sensación sedosa.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">15 mins</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e4.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e4.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e4.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e4.jpg" width="100%" height="225">
                      <img src="../img-225/e4.jpg" width="100%" height="225" alt="Velas">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Perfecto para la diversión de BDSM, estas velas con bajo punto de fusión en
                        rojo vibrante, para una experiencia visualmente emocionante, sensual, para echar por el cuerpo.
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">23 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e5.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e5.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e5.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e5.jpg" width="100%" height="225">
                      <img src="../img-225/e5.jpg" width="100%" height="225" alt="Afrodisíaco">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Afrodisíaco más potente que su antecesor Chanta Drops.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">31 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e6.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e6.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e6.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e6.jpg" width="100%" height="225">
                      <img src="../img-225/e6.jpg" width="100%" height="225" alt="Pintura corporal">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Combina el juego erótico con el romance gracias a esta pintura corporal de
                        chocolate. ¡Despierta el artista que hay en ti! Dibuja corazones, flores y todo lo que se te
                        ocurra.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">33 mins</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e7.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e7.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e7.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e7.jpg" width="100%" height="225">
                      <img src="../img-225/e7.jpg" width="100%" height="225" alt="Sal de baño">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Sal de baño aromatizada.Estos cristales orientales convertirán el agua de tu
                        bañera en un lago Rosa intenso, proporcionándote a ti y a tu pareja un oasis de fantasía donde
                        disfrutar de esos momentos de relajación o excitación. De esta forma tan simple podrás
                        beneficiarte de las propiedades estimulantes del agua de mar que estas sales te proporcionan.
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">44 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e8.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e8.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e8.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e8.jpg" width="100%" height="225">
                      <img src="../img-225/e8.jpg" width="100%" height="225" alt="Sábana impermeable">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Sábana impermeable color rojo para juegos húmedos. Disfruta al máximo con
                        esta protección! Sexo y masajes con aceites, cremas, champagne… Todo está permitido! Vive tus
                        fantasías sin ninguna preocupación.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">58 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <picture>
                      <source media="(max-width: 575px)" srcset="../img-300/e9.jpg" width="100%" height="300">
                      <source media="(min-width: 576px) and (max-width: 668px)" srcset="../img-225/e9.jpg" width="100%"
                        height="225">
                      <source media="(min-width: 669px) and (max-width: 767px)" srcset="../img-300/e9.jpg" width="100%"
                        height="300">
                      <source media="(min-width: 768px)" srcset="../img-225/e9.jpg" width="100%" height="225">
                      <img src="../img-225/e9.jpg" width="100%" height="225" alt="Velas de masaje">
                    </picture>
                    <div class="card-body">
                      <p class="card-text">Disfruta de un verdadero ambiente sensual y de la suavidad de sus aceites
                        esenciales. Con las velas de masaje Shunga podrás dar rienda suelta a tus fantasías eróticas y
                        encender toda la pasión para que todos tus sentidos disfruten de un ambiente íntimo.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-danger">Comprar</button>
                        </div>
                        <small class="text-muted">59 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin artículos -->
  </main>
  <div class="container-fluid">
    <footer class="py-2">
      <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
          <h5>Categorías</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lencería</a></li>
            <li class="nav-item mb-2"><a href="./mujer.html" class="nav-link p-0 text-muted">Mujer</a></li>
            <li class="nav-item mb-2"><a href="./hombre.html" class="nav-link p-0 text-muted">Hombres</a></li>
            <li class="nav-item mb-2"><a href="./esenciales.html" class="nav-link p-0 text-muted">Esenciales</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
          </ul>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
          <h5>Información</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mantenimiento</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tabla de talles</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pago seguro SSL</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terminos y condiciones</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Política de cookies</a></li>
          </ul>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
          <h5>Atención al cliente</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mi cuenta</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lista de deseos</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Botón de arrepentimiento</a></li>
          </ul>
        </div>

        <div
          class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 offset-sm-0 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1">
          <form>
            <h5>Suscribirse al newsletter</h5>
            <p>Reciba información mensual de nuestros productos más novedosos</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="ejemplo@gmail.com">
              <button class="btn btn-primary" type="button">Suscribirse</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Sakura sex shop. &reg; Todos los derechos reservados.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/" target="_blank"><img
                src="../icon/icon facebook.png" width="24" height="24" alt=""></a></li>
          <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/" target="_blank"><img
                src="../icon/icon Instagram.png" width="24" height="24" alt=""></a></li>
          <li class="ms-3"><a class="link-dark" href="https://web.whatsapp.com/" target="_blank"><img
                src="../icon/Icon whatsapp.png" width="24" height="24" alt=""></a></li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</body>

</html>