<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hombre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;270;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/0.jpg" type="image/x-icon">
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="../index.html"><img src="../img/0.jpg" width="150" height="150" class="rounded-circle" alt="Logo de Sakura"></a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="./hombre.html" class="nav-link px-2 link-dark">Hombres</a></li>
              <li><a href="./mujer.html" class="nav-link px-2 link-dark">Mujeres</a></li>
              <li><a href="./esenciales.html" class="nav-link px-2 link-dark">Esenciales</a></li>
              <li><a href="./contactar.html" class="nav-link px-2 link-dark">Contacto</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
            </form>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Iniciar sesión</a></li>
                <li><a class="dropdown-item" href="#">Configuración</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    <main>
        <div class="container-fluid">

        
        <!-- Brazo -->
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <article class="text-center">
                    <img src="https://www.claroshop.com/medios-plazavip/swift/v1/claroshop/landings/ofertasHotSale2021/ICONO_OFERTAS_879x1000_PNG24.png" width="150" height="250" alt="">
                    <h2>Ofertas</h2>
                </article>
            </a>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                  CATEGORÍAS
                </button>
                <div class="collapse show" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Vibradores</a></li>
                    <li><a href="#" class="link-dark rounded">Anillos</a></li>
                    <li><a href="#" class="link-dark rounded">Consoladores</a></li>
                    <li><a href="#" class="link-dark rounded">Masturbadores</a></li>
                    <li><a href="#" class="link-dark rounded">Bombas de vacío</a></li>
                    <li><a href="#" class="link-dark rounded">Muñecas</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  MARCAS
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Pipedream</a></li>
                    <li><a href="#" class="link-dark rounded">Toy Joy</a></li>
                    <li><a href="#" class="link-dark rounded">Smart</a></li>
                    <li><a href="#" class="link-dark rounded">Fasex</a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                  Mi cuenta
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Nueva cuenta</a></li>
                    <li><a href="#" class="link-dark rounded">Perfil</a></li>
                    <li><a href="#" class="link-dark rounded">Configuración</a></li>
                    <li><a href="#" class="link-dark rounded">Cerrar sesión</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        <!-- Fin brazo -->
        <!-- Artículos -->
        <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/1.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Lubricante anal siliconado y sin perfume que te proporcionará ese plus de comodidad para disfrutar de nuevas sensaciones,gracias a sus extractos de jojova ,su textura cremosa y su efecto relajante,la penetración es agradable y placentera,analyse me esta considerado como el mejor lubricante anal a nivel mundial.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/0.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Un problema común que afecta a muchos hombres y a sus parejas, son las eyaculaciones prematuras. El hombre llega a tener el orgasmo más rápido de lo que en verdad quisiera, y hace que el sexo se convierta a un acto efímero, cuando en realidad hubiesen querido continuar más tiempo.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">11 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/1.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">La revolución en las protesis ya está aqui.Protesis de alta gama hechas de latex natural 100% puro ,tacto más real de todo el mercado, y un sistema de sujeción muy efectiva gracias a los cinturones de cuero puro.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">15 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/0.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Masturbador recargable (forma de vagina) con 2 potentes motores permiten un masaje ajustable a lo largo de toda la longitud del pene. 9 modos,realizado en TPR de gran calidad con vibración y ventosa para colocarlo sobre cualquier superficie lisa.Haz que tu masturbación sea libre de manos. disfrutalo tanto como si fuera real!
                        Te atreves?</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">23 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/1.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Monika , un amor de muñeca con rostro angelical.
                        Posición erguida, tamaño natural, tiene senos y tres agujeros, vagina ,boca y  ano. Ideal para regalar en una despedida de solteroo simplemente para tu disfrute personal.                        
                        Se recomienda el uso de lubricantes neutros con una base acuosa.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">31 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/0.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Este diseño de masturbador de tacto de piel te llevará al viaje de tu vida,exactamente como lo haría Jolee.Una herramienta imprescindible para los fanáticos de la bomba dulce y picante JOLEE LOVE PORNSTAR,la textura interior realista del masturbador y el orificio vaginal apretado brindarán una estimulación sensacional y real como nunca antes se habia conseguido con un masturbador.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">33 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/1.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Método de alargamiento del pene a tener en cuenta para aquellas personas que no deseen pasar por quirófano para agrandar el pene mediante el método de tracción o bien colocar el pene en su posición natural evitando así los posibles dolores asociados a su uso,se encarga de desarrollar los tejidos del pene agrandando las proporciones y corrigiendo la curvatura del mismo(enfermedad de Peyronie)</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">44 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/0.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Haz que tu placer se intensifique con éste lujoso plug anal. Con él experimentarás placeres como nunca antes. Fabricado con silicona súper suave y muy sedosa para una mejor inserción.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">58 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="../img/1.jpg" width="100%" height="225" alt="">
                    <div class="card-body">
                      <p class="card-text">Los hombre también buscan su satisfyer.Masturbador con vibración y función de calor para hombre,recargable por USB.Éste elegante diseño en negro hace que éste masturbador sea un compañero de juegos con estilo,para los hombres modernos.Su tamaño es ideal,se adapta perfectamente a la mano y garantiza un funcionamiento agradable.Cuenta con 3 niveles para regular la función de calor hasta 40 ºC </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        </div>
                        <small class="text-muted">59 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin artículos -->
        <!-- 
        <section>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 1</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 2</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 3</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 4</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 5</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 6</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 7</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 8</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 9</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 10</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 11</h3>
            </article>
            <article>
                <img src="../img/1.jpg" alt="">
                <h3>Artículo 12</h3>
            </article>
        </section>
        -->
    </main>
    <div class="container">
        <footer class="py-2">
          <div class="row">
            <div class="col-2">
              <h5>Categorías</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lencería</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mujer</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hombres</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Esenciales</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
              </ul>
            </div>
    
            <div class="col-2">
              <h5>Información</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mantenimiento</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tabla de talles</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terminos y condiciones</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pago seguro SSL</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Política de cookies</a></li>
              </ul>
            </div>
    
            <div class="col-2">
              <h5>Atención al cliente</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Botón de arrepentimiento</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mi cuenta</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lista de deseos</a></li>
              </ul>
            </div>
    
            <div class="col-4 offset-1">
              <form>
                <h5>Suscribirse al newsletter</h5>
                <p>Reciba información mensual de nuestros productos más novedosos</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="ejemplo@gmail.com">
                  <button class="btn btn-primary" type="button">Suscribirse</button>
                </div>
              </form>
            </div>
          </div>
    
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Sakura sex shop. &reg; Todos los derechos reservados.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/" target="_blank"><img
                    src="../icon/icon facebook.png" width="24" height="24" alt=""></a></li>
              <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/" target="_blank"><img
                    src="../icon/icon Instagram.png" width="24" height="24" alt=""></a></li>
              <li class="ms-3"><a class="link-dark" href="https://web.whatsapp.com/" target="_blank"><img
                    src="../icon/Icon whatsapp.png" width="24" height="24" alt=""></a></li>
            </ul>
          </div>
        </footer>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>